<div data-v-788a3a1d="" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 game-item">
    <div data-v-5946496f="" data-v-788a3a1d="" class="card border-0 shadow h-100 game-card" role="button">
        <div data-v-5946496f=""
             class="card-img-wrapper position-relative overflow-hidden bg-body game-card-img-wrapper rounded-1"
             style="--card-height: 320px; --card-padding: 1rem; --card-title-size: 1rem; --card-title-mb: 0.25rem; --card-footer-size: 0.875rem;">
            <img data-v-5946496f="" src="http://localhost:8001/media/game_banners/banner_25.jpg"
                 class="card-img-top w-100 h-100 game-card-img object-fit-cover" alt="Asgard's Fall: Origins">
            <div data-v-5946496f="" class="position-absolute bottom-0 start-0 end-0 game-card-overlay"><h5
                    data-v-5946496f="" class="card-title text-white fw-bold game-card-title">Asgard's Fall: Origins</h5>
                <small data-v-5946496f="" class="text-white-50 d-flex align-items-center mb-2 game-card-footer-text"><i
                        data-v-5946496f="" class="fas fa-clock me-1"></i> Last played 7 hours ago</small>
                <div data-v-5946496f="" class="d-flex gap-2 mt-2">
                    <button data-v-5946496f="" class="btn btn-sm btn-success flex-fill" type="button"><i
                            data-v-5946496f="" class="fas fa-upload me-1"></i> Save
                    </button>
                    <button data-v-5946496f="" class="btn btn-sm btn-primary flex-fill" type="button"><i
                            data-v-5946496f="" class="fas fa-download me-1"></i> Quick Load
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>