{% extends 'base.html' %}
{% load static %}

{% block title %}Settings{% endblock %}

{% block content %}
    <!-- Desktop Sidebar (Fixed) -->
    <div class="d-none d-lg-block">
        {% include 'SaveNLoad/includes/sidebar.html' with is_user=False %}
    </div>
    
    <!-- Main Content -->
    <div class="main-content">
        <div class="container-fluid px-0">
            {% include 'SaveNLoad/includes/page_header.html' with page_title="Settings" %}

            {% include 'SaveNLoad/includes/add_game_form.html' %}
            {% include 'SaveNLoad/includes/account_settings.html' %}
            {% include 'SaveNLoad/includes/game_search_modal.html' %}
        </div>
    </div>
    
    
    
    <!-- Mobile Sidebar (Offcanvas) -->
    <div class="d-lg-none">
        {% include 'SaveNLoad/includes/sidebar.html' with sidebar_id="sidebarMobile" is_user=False %}
    </div>

    <script>
        // Inject Django URLs for worker check and game creation
        window.WORKER_CHECK_URL = '{% url "client_worker:check" %}';
        window.WORKER_REQUIRED_URL = '{% url "SaveNLoad:worker_required" %}';
        window.CREATE_GAME_URL = '{% url "admin:create_game" %}';
        window.CHANGE_PASSWORD_URL = '{% url "admin:change_password" %}';
    </script>
    <script>
        {% include 'SaveNLoad/js/workerCheck.js' %}
        {% include 'SaveNLoad/js/settings.js' %}
        {% include 'SaveNLoad/js/addGameForm.js' %}
        {% include 'SaveNLoad/js/accountSettings.js' %}
    </script>
{% endblock %}

