{% extends 'base.html' %}
{% load static %}

{% block title %}Settings{% endblock %}

{% block content %}
    <!-- Desktop Sidebar (Fixed) -->
    <div class="d-none d-lg-block">
        {% include 'SaveNLoad/includes/sidebar.html' with is_user=True %}
    </div>
    
    <!-- Main Content -->
    <div class="main-content">
        <div class="container-fluid px-0">
            {% include 'SaveNLoad/includes/page_header.html' with page_title="Settings" %}

        </div>
    </div>
    
    
    
    <!-- Mobile Sidebar (Offcanvas) -->
    <div class="d-lg-none">
        {% include 'SaveNLoad/includes/sidebar.html' with sidebar_id="sidebarMobile" is_user=True %}
    </div>

    <script>
        // Inject Django URLs for worker check
        window.WORKER_CHECK_URL = '{% url "client_worker:check" %}';
        window.WORKER_REQUIRED_URL = '{% url "SaveNLoad:worker_required" %}';
    </script>
    <script>
        {% include 'SaveNLoad/js/workerCheck.js' %}
    </script>
{% endblock %}

