{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-page">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-lg bg-primary text-white">
                    <div class="card-body p-3 p-md-4">
                        <div class="text-center mb-4">
                            <img src="{% static 'images/icon.png' %}" alt="Save N Load" width="50" height="50">
                        </div>

                        <h2 class="card-title mt-3">Save N Load</h2>
                        <p class="fs-6 opacity-50 text-white mb-4">Managing saves has never been easier.</p>

                        <form method="POST" action="{% url 'SaveNLoad:login' %}" id="loginForm">
                            {% csrf_token %}
                            <div id="alert-container" class="mb-3 d-none"></div>
                            <div class="mb-3">
                                <label for="username" class="fs-6 opacity-50">USERNAME OR EMAIL</label>
                                <input type="text"
                                    class="color-primary form-control bg-primary border border-1 border-secondary rounded-1 py-2 text-white"
                                    id="username" name="username" placeholder="Enter your username or email" required>
                                <div class="invalid-feedback text-warning d-none" id="username-error"></div>
                            </div>
                            <div class="mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <label for="password" class="fs-6 mb-0 opacity-50">PASSWORD</label>
                                    <a href="{% url 'SaveNLoad:forgot_password' %}"
                                        class="text-secondary text-decoration-none fs-6" tabindex="-1">Forgot
                                        Password?</a>
                                </div>
                                <div class="position-relative">
                                    <input type="password"
                                        class="color-primary form-control bg-primary border border-1 border-secondary rounded-1 py-2 text-white pe-5"
                                        id="password" name="password" placeholder="Enter your password" required>
                                    <i class="fas fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-3 text-white-50 fw-light"
                                        id="togglePassword" role="button" tabindex="-1"></i>
                                </div>
                                <div class="invalid-feedback text-warning d-none" id="password-error"></div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input bg-primary border-secondary" type="checkbox"
                                        id="rememberMe" name="rememberMe">
                                    <label class="form-check-label text-white fs-6" for="rememberMe">
                                        Remember Me

                                    </label>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit"
                                    class="btn btn-secondary text-white fw-bold mt-3 py-2">LOGIN</button>
                            </div>
                            <p class="text-white fs-6 text-center mt-3 ">Don't have an account? <a
                                    href="{% url 'SaveNLoad:register' %}"
                                    class="text-secondary text-decoration-none fs-6">Create an account</a></p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {% include 'SaveNLoad/js/togglePasswordVisibility.js' %}
</script>
<script>
    {% include 'SaveNLoad/js/loginAjax.js' %}
</script>
{% endblock %}