{% extends 'base.html' %}
{% load static %}

{% block title %}Verify OTP{% endblock %}

{% block content %}
<div class="login-page">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-lg bg-primary text-white">
          <div class="card-body p-3 p-md-4">
            <div class="text-center mb-4">
              <img src="{% static 'images/icon.png' %}" alt="Save N Load" width="50" height="50">
            </div>
            <h2 class="card-title mt-3">Save N Load</h2>
            <p class="fs-6 opacity-50 text-white mb-4">We've sent a verification code to <strong>{{ email }}</strong>
            </p>

            <form id="verifyOtpForm">
              {% csrf_token %}
              <div class="mb-3">
                <label for="otp_code" class="fs-6 opacity-50">6-Digit Verification Code</label>
                <input type="text"
                  class="color-primary form-control bg-primary border border-1 border-secondary rounded-1 py-2 text-white text-center otp-input-code"
                  id="otp_code" name="otp_code" placeholder="000000" maxlength="6" required>
                <div class="invalid-feedback text-warning d-none" id="otp-error"></div>
              </div>
              <div class="d-grid mt-2">
                <button type="button" class="btn btn-secondary text-white fw-bold py-2" id="resendOtpBtn">RESEND
                  CODE</button>
              </div>
              <p class="text-white fs-6 text-center mt-3">Remember your password? <a href="{% url 'SaveNLoad:login' %}"
                  class="text-secondary text-decoration-none fs-6">Login</a></p>
              <p class="text-white fs-6 text-center mt-2">Wrong email? <a href="{% url 'SaveNLoad:forgot_password' %}"
                  class="text-secondary text-decoration-none fs-6">Start Over</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  {% include 'SaveNLoad/js/verifyOtp.js' %}
</script>
{% endblock %}