{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="login-page">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-lg bg-primary text-white">
                        <div class="card-body p-4">
                            <h2 class="card-title mt-3">Save N Load</h2>
                            <p class="fs-6 opacity-50 text-white mb-4">Create your account to get started.</p>
                            
                            <form>
                                <div class="mb-3">
                                    <label for="username" class="fs-6">USERNAME</label>
                                    <input type="text" class="color-primary form-control bg-primary border border-1 border-secondary rounded-1 py-2 text-white" id="username" placeholder="Enter your username">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="fs-6">EMAIL</label>
                                    <input type="email" class="color-primary form-control bg-primary border border-1 border-secondary rounded-1 py-2 text-white" id="email" placeholder="Enter your email">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="fs-6 mb-0">PASSWORD</label>
                                    <div class="position-relative">
                                        <input type="password" class="color-primary form-control bg-primary border border-1 border-secondary rounded-1 py-2 text-white pe-5" id="password" placeholder="Enter your password">
                                        <i class="fas fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-3 text-white-50" id="togglePassword" style="cursor: pointer; font-weight: 300;"></i>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="repeatPassword" class="fs-6 mb-0">REPEAT PASSWORD</label>
                                    <div class="position-relative">
                                        <input type="password" class="color-primary form-control bg-primary border border-1 border-secondary rounded-1 py-2 text-white pe-5" id="repeatPassword" placeholder="Repeat your password">
                                        <i class="fas fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-3 text-white-50" id="toggleRepeatPassword" style="cursor: pointer; font-weight: 300;"></i>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-secondary text-white fw-bold mt-3 py-2">REGISTER</button>
                                </div>
                                <p class="text-white fs-6 text-center mt-3">Already have an account? <a href="{% url 'SaveNLoad:route_login' %}" class="text-secondary text-decoration-none fs-6">Login</a></p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        {% include 'SaveNLoad/js/togglePasswordVisibility.js' %}
    </script>
    
{% endblock %}

